
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 80 59% 98%;
    --foreground: 112 40% 16%;

    --card: 0 0% 100%;
    --card-foreground: 112 40% 16%;

    --popover: 0 0% 100%;
    --popover-foreground: 112 40% 16%;

    --primary: 93 82% 39%;
    --primary-foreground: 80 50% 98%;

    --secondary: 43 27% 57%;
    --secondary-foreground: 80 50% 98%;

    --muted: 83 25% 90%;
    --muted-foreground: 112 10% 40%;

    --accent: 43 35% 75%;
    --accent-foreground: 112 40% 16%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 83 25% 80%;
    --input: 83 25% 80%;
    --ring: 93 82% 39%;

    --radius: 0.5rem;

    --sidebar-background: 93 82% 39%;
    --sidebar-foreground: 80 50% 98%;
    --sidebar-primary: 80 50% 98%;
    --sidebar-primary-foreground: 93 82% 39%;
    --sidebar-accent: 83 55% 45%;
    --sidebar-accent-foreground: 80 50% 98%;
    --sidebar-border: 83 55% 35%;
    --sidebar-ring: 43 35% 65%;
  }

  .dark {
    --background: 112 30% 12%;
    --foreground: 80 50% 98%;

    --card: 112 25% 16%;
    --card-foreground: 80 50% 98%;

    --popover: 112 25% 16%;
    --popover-foreground: 80 50% 98%;

    --primary: 93 70% 35%;
    --primary-foreground: 80 50% 98%;

    --secondary: 43 20% 45%;
    --secondary-foreground: 80 50% 98%;

    --muted: 112 15% 25%;
    --muted-foreground: 80 20% 80%;

    --accent: 43 25% 35%;
    --accent-foreground: 80 50% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 80 50% 98%;

    --border: 112 15% 30%;
    --input: 112 15% 30%;
    --ring: 93 70% 35%;
    
    --sidebar-background: 112 30% 17%;
    --sidebar-foreground: 80 50% 98%;
    --sidebar-primary: 93 70% 35%;
    --sidebar-primary-foreground: 80 50% 98%;
    --sidebar-accent: 112 15% 25%;
    --sidebar-accent-foreground: 80 50% 98%;
    --sidebar-border: 112 15% 30%;
    --sidebar-ring: 93 70% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  
  .text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .text-shadow-none {
    text-shadow: none;
  }
}
